.first-column {
    border: black 2px solid;
    background-color: red;
    height: 100px;
}

.second-column {
    border: black 2px solid;
    background-color: red;
    height: 100px;
}

.col1 {
    border: black 2px solid;
    background-color: red;
    height: 100px;
}

.col2 {
    border: black 2px solid;
    background-color: red;
    height: 100px;
}

.col3 {
    border: black 2px solid;
    background-color: red;
    height: 100px;
}

.col4 {
    border: black 2px solid;
    background-color: red;
    height: 100px;
}